<!DOCTYPE html>
<html lang="en">

{% from '/macros/matrix.html' import  create_matrix %}
{% from '/macros/operations.html' import operations_select %}
<head>
    <meta charset="UTF-8">
    <title>Операции над матрицами</title>
    <link rel="stylesheet" href="/static/css/matrix.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="main">

    <form method="GET" action="{{ url_for('matrix') }}">
        <label>Ранг матриц
            <input class="rank-input" type="number" name="rank" value="{{ rank }}" min="2" max="6" required></label>
        </label>
        <input type="submit" value="Показать">
    </form>

    <form id="expression-form" method="POST" action="{{ url_for('matrix') }}">
        <div class="matrix-expression">
            {{ create_matrix('a', matrix_a, true) }}

            {{ operations_select(operation) }}

            {{ create_matrix('b', matrix_b, true) }}

            {% if result != None %}
                <div>=</div>
                {{ create_matrix('result', result, false) }}
            {% endif %}
        </div>
    </form>

    <div class="action-buttons">
        <input form="expression-form" type="submit" value="Посчитать">

        <!-- не работает при пост запросе, так как сохраняются значения,
        сбрасывает только пользовательский ввод без отправки запроса -->
        <input form="expression-form" type="reset" value="Очистить изменения">

        <!-- сбрасывает все в первоначальное значение -->
        <a href="{{ url_for('matrix') }}">Сбросить все</a>
    </div>
</div>
</body>
</html>